<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

    <listener><listener-class>php.java.servlet.ContextLoaderListener</listener-class></listener>
	
	<!-- unfortunately this had to be turned on to manage sessions correctly in swfuploader -->
	<listener><listener-class>com.hierarchycm.gxt.server.MySessionListener</listener-class></listener>
    
    <servlet>
        <servlet-name>jersey</servlet-name>
        <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
        <init-param>
            <param-name>com.sun.jersey.config.property.resourceConfigClass</param-name>
            <param-value>com.sun.jersey.api.core.PackagesResourceConfig</param-value>
        </init-param>
        <init-param>
            <param-name>com.sun.jersey.config.property.packages</param-name>
            <param-value>com.hierarchycm.gxt.service</param-value>
        </init-param>   
    </servlet>

    <servlet-mapping>
        <servlet-name>jersey</servlet-name>
	    <url-pattern>/rs/*</url-pattern>
    </servlet-mapping>
	  
 	  <!-- Servlets -->
	  <servlet>
	    <servlet-name>dbServlet</servlet-name>
	    <servlet-class>
	 		com.hierarchycm.gxt.server.DatabaseServiceImpl
	    </servlet-class>
	  </servlet>
	   
	  <servlet-mapping>
	    <servlet-name>dbServlet</servlet-name>
	    <url-pattern>/mainmodule/db</url-pattern>
	  </servlet-mapping>
	  
	  <servlet>
    	<servlet-name>DisplayBlob</servlet-name>
    	<servlet-class>com.hierarchycm.gxt.server.BlobServlet</servlet-class>
	  </servlet> 

	  <servlet-mapping>
    	<servlet-name>DisplayBlob</servlet-name>
    	<url-pattern>/DisplayBlob</url-pattern>
	  </servlet-mapping>
	  
	  <servlet>
    	<servlet-name>FriendSuggestions</servlet-name>
    	<servlet-class>com.hierarchycm.gxt.server.FriendSuggestions</servlet-class>
	  </servlet>
	  
	  <servlet-mapping>
    	<servlet-name>FriendSuggestions</servlet-name>
    	<url-pattern>/FriendSuggestions</url-pattern>
	  </servlet-mapping>
	   
	  <servlet>
	    <servlet-name>SimpleCaptcha</servlet-name>
	    <servlet-class>
	 			com.hierarchycm.captcha.server.servlet.ExtendedCaptchaServlet
	    </servlet-class>
	    <init-param>
	        <param-name>width</param-name>
	        <param-value>200</param-value>
	    </init-param>
	    <init-param>
	        <param-name>height</param-name>
	        <param-value>50</param-value>
	    </init-param>
	  </servlet>
	 
	  <servlet-mapping>
	    <servlet-name>SimpleCaptcha</servlet-name>
	    <url-pattern>/SimpleCaptcha.jpg</url-pattern>
	  </servlet-mapping>
	  
	  <servlet>
        <servlet-name>UploadServletSwf</servlet-name>
        <servlet-class>com.hierarchycm.gxt.server.UploadServletSwf</servlet-class>
      </servlet>

    <servlet-mapping>
        <servlet-name>UploadServletSwf</servlet-name>
        <url-pattern>/upload</url-pattern>
    </servlet-mapping>
    
	  <servlet>
        <servlet-name>UploadServletHtml5</servlet-name>
        <servlet-class>com.hierarchycm.gxt.server.UploadServletHtml5</servlet-class>
      </servlet>

    <servlet-mapping>
        <servlet-name>UploadServletHtml5</servlet-name>
        <url-pattern>/html5upload</url-pattern>
    </servlet-mapping>
    
    <servlet>
	  <servlet-name>proxyServlet</servlet-name>
  		<servlet-class>de.spieleck.servlets.ProxyServlet</servlet-class>
  		<init-param>
            <param-name>remotePath</param-name>
            <param-value>/http-bind</param-value>
  		</init-param>
  		<init-param>            
            <param-name>remotePort</param-name>
            <param-value>5280</param-value>
        </init-param>
	</servlet>
	<servlet-mapping>
  		<servlet-name>proxyServlet</servlet-name>
  		<url-pattern>/mainmodule/proxy</url-pattern>
	</servlet-mapping>

    <sessions-enabled>true</sessions-enabled>

  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>MainPage.html</welcome-file>    
  </welcome-file-list>
  


</web-app>
